pipeline/copy_all_tables_pipeline.json
{
	"name": "copy_all_tables_pipeline",
	"properties": {
		"description": "copy all tables from sql server using SHIR",
		"activities": [
			{
				"name": "Lookup for all tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT s.name AS SchemaName,t.name AS TableName \nFROM sys.tables t INNER JOIN sys.schemas s \nON t.schema_id = s.schema_id \nWHERE s.name ='SalesLT';",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "sqlDBtables_source_ds",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Schema Table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup for all tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup for all tables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy each table",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@{concat('SELECT * FROM ',item().SchemaName,'.',item().TableName)}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SqlServerCopyTables",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ParquetTables_sink_ds",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": {
											"value": "@item().SchemaName",
											"type": "Expression"
										},
										"TableName": {
											"value": "@item().TableName",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Bronze to Silver",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ForEach Schema Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Shared/bronze to silver"
				},
				"linkedServiceName": {
					"referenceName": "dbw_adf_ls",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Silver to Gold",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Bronze to Silver",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Shared/silver to gold"
				},
				"linkedServiceName": {
					"referenceName": "dbw_adf_ls",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-02-05T11:03:05Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}